<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
</head>
<body>
    <h1>All the Movies</h1>

    <div th:each="movie : ${movies}" class="movie">
        <h3 th:id="${movie.title}" th:text="${movie.title}">Movie Title</h3>
        <p>
            Directed by <span th:text="${movie.director}"></span>
        </p>
    </div>

    <div>
        <form method="POST" action="/movies">
            Title:<input name="title" />
            Director:<input name="director" />
            Release date:<input type="date" name="releaseDate" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>