# Ignore Gradle project-specific cache directory
.gradle

.idea

# Ignore Gradle build output directory
build

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
